select {
  outline: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.horizontalJustify {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontalCenter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.horizontalLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.verticalCenter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verticalJustify {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.verticalJustifyB {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  width: 100%;
  padding: 20px 10%;
  border-bottom: solid 1px lightgray;
}

.logo {
  width: 120px;
}

.popOverBtn {
  padding: 8px 10px;
  border: solid 1px grey;
  border-radius: 25px;
}

.popOverBtn:hover {
  cursor: pointer;
  box-shadow: 0px 3px 3px 1px rgba(227, 220, 227, 1);
}

.popOverMenu:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filterBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.pricePopBtn {
  height: 40px;
  width: 120px;
  margin-left: 10px;
  border: solid 1px gray;
  border-radius: 30px;
}
.pricePopBtn:hover {
  cursor: pointer;
}

.footer {
  /* height: 315px; */

  bottom: 0;
  border-top: solid 1px lightgray;
  background-color: #f7f7f7;
}

.card {
  position: relative;
  width: 245px;
  height: 460px;
  padding-bottom: 10px;
}

.card:hover {
  cursor: pointer;
}

.cardImg {
  width: inherit;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.displayImg {
  width: inherit;
  height: 300px;
  border-radius: 10px;
}

.displayImg:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
  transition: 1s;
}

.like {
  width: fit-content;
  position: absolute;
  top: 3%;
  right: 3%;
}

.cardContent {
  height: cal(100% - 280px);
  width: inherit;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
}

.gallerySide {
  width: 50%;
}

.galleryCenter {
  width: 20%;
}

.detailSection {
  border-bottom: solid 1px lightgray;
}
.detailTag {
  margin-right: 10px;
  color: black;
}

.detailTag:hover {
  cursor: pointer;
  text-transform: uppercase;
}

.overviewDetail {
  width: 80vw;
  padding: 25px 0;
  border-bottom: solid 1px gray;
}

.avatarpic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.participation {
  width: 200px;
  height: 250px;
  padding: 20px;
  margin-right: 20px;
  border: solid 1px gray;
  border-radius: 10px;
}

.register .login {
  text-align: center;
}

.imgUpload {
  width: 100px;
  height: 100px;
  border: dashed 2px lightgray;
  overflow: hidden;
  margin-bottom: 20px;
}
.imgUpload:hover {
  cursor: pointer;
}
